*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


:root{
    --blue:#00BDFE;
    --white:#FFFFFF;
    --black:#2A2A2A;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color:#FFFFFF;
    align-items: center;
    width:100vw;
    padding:0px 70px;
      
}

.header-center{
    display: flex;
    
}

.header-center>a{
    text-decoration: none;
    color:var(--white);
    background-color:var(--blue);
    padding:20px;

}

.header-left>img{
    width:10vw;
}

.header-right{
    display: flex;
    align-items: center;
}
.header-right>h3{
    display: flex;
    align-items: center;
    border:2px solid var(--blue);
    padding:5px;
    border-radius:10px;
    gap:10px;
    color:var(--blue);
    font-size:100%;
}

h3:hover{
    font-size:100%;
    background-color:var(--blue) ;
    color:var(--white);
}


.main-banner{
    background-image: url(https://themewagon.github.io/snapx/assets/images/banner-bg.jpg);
    width: 100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:15px 20px;
    position: relative;
    margin-bottom:30% ;
 
}

.banner-text1{
    font-size:350%;
    color:var(--white);
    
}

.banner-text2{
    font-size:350%;
     color:var(--blue);
   
}


rem{
    color:var(--blue);
}

#line{
    width:65vw;
    color:var(--white);
}

.main-banner>p{
    font-size:100%;
    color:var(--white);
    padding:0px 245px;

}

.main-banner2{
    display: flex;
    gap:10px;
    color:var(--white);
    padding-top:50px ;
}

.banner-text3{
    border-radius:10px;
    border:2px solid white;
    padding:10px;
}

.banner-text3:hover{
    color:var(--blue);
    background-color:var(--white);
}

.banner-text4{
    color:var(--white);
    display: flex;
    align-items: center;
    gap:10px;

}

.banner-text4:hover{
    color:var(--blue);
}


#carouselExampleindicators{
    margin:auto;
    display: flex;
    justify-content: center;
      
}

.carousel,#carouselExampleIndicators{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:-65%;
    left:25% ; 
    width:50vw;   
}


.carousel-item {
    width: 20vw;
    height:38vw ;
   
}

.carousel-item>img{
    width: 100vw;
    border-radius:30px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
   
}

.inner-item1{ 
    display: flex;
    flex-direction:column;
    display: none;
    position: absolute;
    bottom:0%;
    border-radius:30px;
    background-color:var(--white);
    opacity:0.9;
    height:100%;
    width:100vw;
    width:100vw;
   padding:83px 20px;
   
}

.img1:hover>.inner-item1{
    display: block;
    transition-property:all;

}

.carousel-item:hover>.inner-item1,.carousel-item:hover>.inner-item2,.carousel-item:hover>.inner-item3{
    display: block;
    transition-property:all;

}

.inner-item1>h3{
    color:var(--blue);

}

.inner-item1 p>span{
    color:gray ;
}

.inner-item1 h3>span{
    color:gray ;
}

.carousel-item>img{
    background-color:#FFFFFF;
    opacity:1;
    transform: all 2s ease 0.1s;
  
} 

.section{
    display: flex;
    justify-content: space-around;
    gap:40%;
    position:relative;
    margin-top:40px ;
    font-size:15px;

}

.section1{
    display: flex;
    flex-direction: column;

}

.section1 h4>span{
    color:var(--blue) ;
}

.section1>h6{
    color:var(--blue) ;
}

.section2{
    display: flex;
    justify-content:right;
    
}

.section2>a{
    text-decoration: none;
    background:var(--blue) ;
    color: var(--white);
    font-size:16px;
    font-weight: 400;
    border-radius:10px ;
    border:2px solid var(--blue) ;
    padding:0px 30px ;
    display: flex;
    align-items: center;

}

.section2>a:hover{
    color:var(--blue);
    border-color:var(--blue) ;
    background-color:var(--white);
}

.parent-card{
    display:flex;
    width:100vw;
    height:55vh;
    margin:40px;
    
}

.box-card1{
    display: flex;
    justify-content: center;
    background-color:#fff;
    height:53vh;
    width:20vw;
    padding:15px;
    border-radius:10px;
    border:1px solid var(--black);
}

/* .card-part1-right{
    display: flex;
    flex-wrap: wrap;
} */

.card-part1-left{
    display: flex;
    /* padding: 10px; */
}

.card-part1-left>img{
    background-color:#F7F7F7;
    padding:10px;
    border-radius:10px ;
    width:4vw;
    height:20px;
}

.card-part1-right1{
    display: flex;
    flex-direction: column; 
}

.card-part1-right1>h4{
    padding: 0px 10px 0px 5px;
}

/* .card-part1-right1>p{
    flex-direction: row;
    padding: 0px 10px 0px 10px;
    
} */

/* .card-part1-right1>span{
    display: flex;
    flex-direction: row; 
} */

.card-part1-right2{
    display:flex;
    gap:5px ;
    padding:0px,10px,0px,0px ;
}

.card-part1-right2>span{
    margin:2px;
    color:var(--blue);
    background: color #f8f9f8;;
    border-radius:0px 20px 0px 10px;

}

.card-part1-right2>p{
    display: flex;
    flex-wrap: wrap;
    color:silver;
    padding:0px 100px 0px 0px;
}

/* .card-part2{
    display: flex;
    width:13vw;
    height:10vw;
    border-radius:10px;
} */

.card-part2{
    display:flex;
    align-items: center;
    /* width:13vw; */
    height:10vw;
    flex-wrap:wrap;

}

.card-part2-img{
    /* display:flex; */
    /* width:18vw; */
    height:10vw;
    /* padding:10px; */
    margin-bottom:20px;
    border-radius: 25px;

}

.card-part2-h5{
    display:flex;
    border-radius:10px;
    padding:0px 25px;
    border:1px solid var(--blue);
    color: var(--blue);

}

#cam-background{
    background-image:url(https://themewagon.github.io/snapx/assets/images/closed-bg.jpg);
    height:100vh;
    width:100vw;
    text-align: center;
}


#winner-part-p{
    text-align: center;
    padding-top:140px;
    color:var(--blue);
}

#winner-part-h4{
    color:var(--blue);
    text-align:center;
}

#winner-part-h4>em{
    font-style:normal;
    color:black;
}

#winner-images{
    display:flex;
    flex-wrap: wrap;
    margin:20px;
    gap:50px;
    padding:20px 0px 0px 60px;
}

#winner-image1,#winner-image2,#winner-image3{
    background-color:var(--white);
    height:55vh;
    width:27vw;
    border-radius:20px;
}

#winner-image1>img,#winner-image2>img,#winner-image3>img{
    border-radius:20px 20px 0px 0px;
    height:40vh;
    width:27vw;
}

/* #winner-image2>img{
    border-radius:20px 20px 0px 0px;
} */

/* #winner-image3>img{
    border-radius:20px 20px 0px 0px;
} */

#winner-text{
    display: flex;
    /* flex-wrap:wrap; */
    gap: 50px;
    margin-top:20px;
    padding:10px;
    
}

#winner-text1{
    flex-wrap:wrap;

}


#winner-text2{
    flex-wrap:nowrap;
}

#winner-text2>h4{
    flex-wrap:nowrap;
}

#winner-text1>p,#winner-text2>p{
    color:silver;
}

#winner-button>p{
    display:flex;
    justify-content: center;
    padding:15px;
    display:inline;
    color:var(--blue);
    border-radius:10px;
    border:2px solid blue;
     

}

 #card-container{
   display:flex;
   padding:10px;
   margin-top: 20px;
   /* flex-wrap:wrap;
   height:100vh;
   width:100vw;
   justify-content: center; */
}

#card-text{
    margin-top: 30px;
    text-align: center;
}

#card-text>p{
    color:var(--blue);
}

#card-text-em>em{
    color: var(--blue);
    font-style: normal;
}

#card-1{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    padding:20px;
    height:20vh;
    width:20vw;
    border:1px solid black;
}